<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568879664396-1qa8fk3so7h12ibpj95jig6082gfeglt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568879664396-1qa8fk3so7h12ibpj95jig6082gfeglt</string>
	<key>API_KEY</key>
	<string>AIzaSyDOPK-M2iaTTae57exhSua8gKruPgaf-5g</string>
	<key>GCM_SENDER_ID</key>
	<string>568879664396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jhonw.misLibros</string>
	<key>PROJECT_ID</key>
	<string>mis-libros-d6a24</string>
	<key>STORAGE_BUCKET</key>
	<string>mis-libros-d6a24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568879664396:ios:c7551e792a444a71b5cd29</string>
</dict>
</plist>